*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --text-primary-color: #012e4a;
    font-size: 20px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #e8ede7;
}

form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 0em;
}

.links {
    display: flex;
    justify-content: flex-end;
    background-color: #036280;
    padding: 20px;
}

.link, .link-animated {
    color: var(--text-primary-color);
    padding: 10px;
    text-decoration: none;
}

.my-link-decor {
    text-decoration: none;
}

.link-animated:hover {
    background-color: #81bece;
}

.start {
    margin-right: auto;
    color: #e8ede7;
    font-family: "Times New Roman", serif;
    font-size: 30px;
}

h2,
p,
li {
    margin: 0px 20px 20px 20px;
    font-family: "Times New Roman", serif;
}

h2 {
    color: #036280;
}

.one,
.two,
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81bece;
    margin-bottom: 15px;
    width: 400px;
    height: 50px;
    color: var(--text-primary-color);
    text-align: center;
    border-radius: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    color: #012e4a;
    font-size: 16px;
}

.my-skill-list, .my-project-list {
    display: flex;
    justify-content: left;
    list-style-type: none;
    padding-inline-start: 0px;
}

.my-skill-list-item {
    border-radius: 3px;
    border: 2px solid #012e4a;
    color: #012e4a;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #036280;
    color: #e8ede7;
    margin-top: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    /* margin-right: auto; */
    background-color: #81bece;
    color: #036280;
    padding: 20px;
    border: none;
    border-radius: 40px;
    max-width: 350px;
    padding: 25px;
}

input,
textarea,
label {
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    /* width: 300px; */
    /* max-width: 300px; */
    min-width: 300px;
}

.my-label {
    display: block;
    margin-bottom: 15px;
}

.my-input {
    margin-bottom: 10px;
}

button {
    background-color: #81bece;
    color: #036280;
    border-style: dotted;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

@media screen and (min-width: 769px) {
   
}

@media screen and (max-width: 1025px) {
    .links, .link-animated  {
        display: flex;
        flex: 1;
        
        justify-content: space-between;
    }
}

.my-section-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.my-submit-button {
    margin-left: auto;
}


.my-project-list-item {
    border-radius: 3px;
    border: 2px solid #012e4a;
    color: #012e4a;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
}