*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --text-primary-color: #012e4a;
    --text-nav-color: #012e4a;
    --text-font-family: "Inter", sans-serif;
    --background-color: #e8ede7;
    --background-darker-color: #d7dad6;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #e8ede7;
}

form {
    display: inline-flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .menu--hide-on-mobile {
        display: none !important;
    }
}

.list--remove-bullets {
    list-style-type: none;
}

.list {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.list--skill-item {
    border-radius: 3px;
    border: 2px solid #012e4a;
    color: #012e4a;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.list--messages {
    flex-direction: column;
    align-items: start;
}

.list--message-item:not(:last-child) {
    margin-bottom: 5px;
}

.list--message-item > *:not(:last-child) {
    margin-right: 5px;
}

.container {
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 1024px;
    width: 80vw;
}

.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #e8ede7;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    background-color: var(--background-darker-color);
    color: (--text-primary-color);
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: var(--text-primary-color);
}

.link-animated {
    text-decoration: none;
    color: var(--text-primary-color);
    padding: 10px;
}

.link-animated:hover {
    background-color: #81bece;
}

.my-link-decor {
    text-decoration: none;
}

.page-name {
    font-size: 25px;
}

h2,
p,
li {
    font-family: var(--text-font-family);
}

h2 {
    color: var(--text-primary-color);
    font-size: 1.5em;
    font-family: var(--text-font-family);
    font-weight: 600;
    margin-bottom: 20px;
}

.one,
.two,
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-darker-color);
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    color: var(--text-primary-color);
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    color: #012e4a;
    font-size: 16px;
}

#message-form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: #036280;
    max-width: 350px;
}

input,
textarea,
label {
    min-width: 300px;
}

input,
textarea {
    padding: 5px;
    border-style: solid;
    border-color: var(--text-primary-color);
}

.my-label {
    display: block;
    margin-bottom: 15px;
}

.my-input {
    margin-bottom: 10px;
}

button {
    background-color: var(--background-darker-color);
    color: var(--text-primary-color);
    border-style: solid;
}

.my-submit-button {
    margin-left: auto;
    padding: 10px 20px 10px 20px;
}

section {
    margin-bottom: 20px;
}

.my-section-content {
    display: flex;
    flex-direction: column;
}

.my-project-list-item {
    border-radius: 3px;
    border: 2px solid #012e4a;
    color: #012e4a;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
}
